 .u-section-1 {
  background-image: none;
  min-height: 1021px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 167px;
  left: 505px;
  height: 753px;
  transform-origin: center bottom;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Cinzel;
  margin: 65px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 55px auto 0 calc(((100% - 1140px) / 2)  + 528px);
}

.u-section-1 .u-text-2 {
  font-family: Bellota;
  font-size: 1.5rem;
  margin: -64px calc(((100% - 1140px) / 2)  + 750px) 0 calc(((100% - 1140px) / 2)  + 303px);
}

.u-section-1 .u-text-3 {
  font-family: Bellota;
  font-size: 1.5rem;
  margin: -796px calc(((100% - 1140px) / 2)  + 64px) 0 calc(((100% - 1140px) / 2)  + 673px);
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -672px auto 0 calc(((100% - 1140px) / 2)  + 528px);
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0 calc(((100% - 1140px) / 2)  + 528px);
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 59px auto 0 calc(((100% - 1140px) / 2)  + 528px);
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 57px auto 0 calc(((100% - 1140px) / 2)  + 528px);
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  --top-left-radius: 10px;
  --bottom-left-radius: 10px;
  margin: 44px auto 0 calc(((100% - 1140px) / 2)  + 528px);
  padding: 4px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 44px auto 0 calc(((100% - 1140px) / 2)  + 528px);
}

.u-section-1 .u-line-2 {
  height: 2px;
  transform-origin: center top;
  width: calc(((100% - 1140px) / 2)  + -50px);
  margin: 87px auto 13px 0;
}

.u-section-1 .u-icon-8 {
  width: 38px;
  height: 38px;
  margin: -351px auto 0 calc(((100% - 1140px) / 2)  + 487px);
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 38px;
  height: 38px;
  margin: 38px auto 0 calc(((100% - 1140px) / 2)  + 487px);
  padding: 0;
}

.u-section-1 .u-icon-10 {
  width: 38px;
  height: 38px;
  margin: 42px auto 0 calc(((100% - 1140px) / 2)  + 487px);
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 38px;
  height: 38px;
  margin: 45px auto 0 calc(((100% - 1140px) / 2)  + 487px);
  padding: 0;
}

.u-section-1 .u-icon-12 {
  width: 38px;
  height: 38px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2)  + 487px);
  padding: 0;
}

.u-section-1 .u-icon-13 {
  width: 37px;
  height: 37px;
  --top-left-radius: 10px;
  --bottom-left-radius: 10px;
  margin: 38px auto 0 calc(((100% - 1140px) / 2)  + 487px);
  padding: 1px;
}

.u-section-1 .u-icon-14 {
  width: 41px;
  height: 41px;
  margin: -52px auto 0 calc(((100% - 1140px) / 2)  + 543px);
  padding: 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Cinzel;
  width: auto;
  margin: -499px auto 60px calc(((100% - 1140px) / 2)  + 451px);
}

.u-section-1 .u-text-5 {
  font-family: Bellota;
  width: auto;
  margin: 72px calc(((100% - 1140px) / 2)  + 400px) 0 calc(((100% - 1140px) / 2)  + 602px);
}

.u-section-1 .u-line-3 {
  position: absolute;
  top: 151px;
  left: 126px;
  height: 516px;
  transform-origin: center top;
}

.u-section-1 .u-text-6 {
  font-family: Bellota;
  font-size: 1rem;
  width: auto;
  margin: -549px calc(((100% - 1140px) / 2)  + 639px) 60px calc(((100% - 1140px) / 2)  + 400px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 0;
    width: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3113px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -63px;
    margin-right: calc(((100% - 940px) / 2)  + 725px);
    margin-left: calc(((100% - 940px) / 2)  + 128px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 362px);
    margin-left: calc(((100% - 940px) / 2)  + 402px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 940px) / 2)  + 317px);
  }

  .u-section-1 .u-line-2 {
    width: calc(((100% - 940px) / 2)  + -50px);
    margin-bottom: -4px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: calc(((100% - 940px) / 2)  + 387px);
  }

  .u-section-1 .u-icon-9 {
    margin-left: calc(((100% - 940px) / 2)  + 387px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 940px) / 2)  + 387px);
  }

  .u-section-1 .u-icon-11 {
    margin-left: calc(((100% - 940px) / 2)  + 387px);
  }

  .u-section-1 .u-icon-12 {
    margin-left: calc(((100% - 940px) / 2)  + 387px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 940px) / 2)  + 387px);
  }

  .u-section-1 .u-icon-14 {
    margin-left: calc(((100% - 940px) / 2)  + 443px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2)  + 351px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2)  + 300px);
    margin-left: calc(((100% - 940px) / 2)  + 502px);
  }

  .u-section-1 .u-line-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2)  + 539px);
    margin-left: calc(((100% - 940px) / 2)  + 300px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    left: 335px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1914px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -2050px;
    margin-left: 239px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 3597px;
    margin-right: calc(((100% - 720px) / 2)  + 568px);
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -4404px;
    margin-right: 252px;
    margin-left: 292px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -8518px;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 0;
    margin-left: 243px;
  }

  .u-section-1 .u-line-2 {
    width: calc(((100% - 720px) / 2)  + -50px);
    margin-top: 8580px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: calc(((100% - 720px) / 2)  + 277px);
  }

  .u-section-1 .u-icon-9 {
    margin-left: calc(((100% - 720px) / 2)  + 277px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 720px) / 2)  + 277px);
  }

  .u-section-1 .u-icon-11 {
    margin-left: calc(((100% - 720px) / 2)  + 277px);
  }

  .u-section-1 .u-icon-12 {
    margin-left: calc(((100% - 720px) / 2)  + 277px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 720px) / 2)  + 277px);
  }

  .u-section-1 .u-icon-14 {
    margin-left: calc(((100% - 720px) / 2)  + 333px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2)  + 241px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2)  + 190px);
    margin-left: calc(((100% - 720px) / 2)  + 392px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2)  + 429px);
    margin-left: calc(((100% - 720px) / 2)  + 190px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    left: 505px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1670px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -214px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 205px;
    margin-right: calc(((100% - 540px) / 2)  + 453px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -2386px;
    margin-right: 162px;
    margin-left: 202px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -338px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 51px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-4 {
    margin-top: 59px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-5 {
    margin-top: -14px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-6 {
    margin-top: 44px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-7 {
    margin-top: 44px;
    margin-left: calc(((100% - 540px) / 2)  + 182px);
  }

  .u-section-1 .u-line-2 {
    width: calc(((100% - 540px) / 2)  + -50px);
    margin-top: 87px;
    margin-bottom: -260px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: calc(((100% - 540px) / 2)  + 187px);
  }

  .u-section-1 .u-icon-9 {
    margin-left: calc(((100% - 540px) / 2)  + 187px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 540px) / 2)  + 187px);
  }

  .u-section-1 .u-icon-11 {
    margin-left: calc(((100% - 540px) / 2)  + 187px);
  }

  .u-section-1 .u-icon-12 {
    margin-left: calc(((100% - 540px) / 2)  + 187px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 540px) / 2)  + 187px);
  }

  .u-section-1 .u-icon-14 {
    margin-left: calc(((100% - 540px) / 2)  + 243px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2)  + 151px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2)  + 100px);
    margin-left: calc(((100% - 540px) / 2)  + 302px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2)  + 339px);
    margin-left: calc(((100% - 540px) / 2)  + 100px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 787px;
  }

  .u-section-1 .u-line-1 {
    left: 335px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -83px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1754px;
    margin-right: calc(((100% - 340px) / 2)  + 254px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: -2292px;
    margin-right: 62px;
    margin-left: 102px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -4582px;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-line-2 {
    width: calc(((100% - 340px) / 2)  + -50px);
    margin-top: 482px;
    margin-right: 440px;
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -342px;
    margin-left: calc(((100% - 340px) / 2)  + 114px);
  }

  .u-section-1 .u-icon-9 {
    margin-top: 34px;
    margin-left: calc(((100% - 340px) / 2)  + 115px);
  }

  .u-section-1 .u-icon-10 {
    margin-top: 36px;
    margin-left: calc(((100% - 340px) / 2)  + 114px);
  }

  .u-section-1 .u-icon-11 {
    margin-top: 40px;
    margin-left: calc(((100% - 340px) / 2)  + 115px);
  }

  .u-section-1 .u-icon-12 {
    margin-top: 41px;
    margin-left: calc(((100% - 340px) / 2)  + 115px);
  }

  .u-section-1 .u-icon-13 {
    margin-top: 40px;
    margin-left: calc(((100% - 340px) / 2)  + 115px);
  }

  .u-section-1 .u-icon-14 {
    margin-top: 36px;
    margin-left: calc(((100% - 340px) / 2)  + 115px);
  }

  .u-section-1 .u-text-4 {
    margin-top: -588px;
    margin-bottom: 0;
    margin-left: calc(((100% - 340px) / 2)  + 51px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 63px;
    margin-right: calc(((100% - 340px) / 2)  + 23px);
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-line-3 {
    top: 142px;
    left: 147px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -515px;
    margin-right: calc(((100% - 340px) / 2)  + 205px);
    margin-left: calc(((100% - 340px) / 2)  + 35px);
  }
}

.u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-7:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-7084-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-7084-68:not([data-block-selected]):not([data-cell-selected]).u-block-7084-68:not([data-block-selected]):not([data-cell-selected]).u-block-7084-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-7084-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-7084-74:not([data-block-selected]):not([data-cell-selected]).u-block-7084-74:not([data-block-selected]):not([data-cell-selected]).u-block-7084-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-7084-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-7084-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-line-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-7084-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-7084-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #478ac9 !important;
}

.u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #478ac9 !important;
}

.u-section-1 .u-container-layout:hover .u-icon-9:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-1 .u-icon-9:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-7084-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7084-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7084-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7084-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7084-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7084-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-icon-10:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-10:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-10:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7084-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-7084-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-block-7084-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-7084-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-7084-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-block-7084-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}