 .u-section-1 {
  background-image: none;
  min-height: 1111px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 167px;
  left: 385px;
  height: 753px;
  transform-origin: center bottom;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 29px 698px 0 378px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 52px auto 0 378px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 60px auto 0 378px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 378px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 60px auto 0 378px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  --top-left-radius: 10px;
  --bottom-left-radius: 10px;
  margin: 43px auto 0 378px;
  padding: 4px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 50px auto 0 378px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Cinzel;
  width: auto;
  margin: -828px auto 60px;
}

.u-section-1 .u-text-2 {
  font-family: Bellota;
  margin: -749px 141px 0 823px;
}

.u-section-1 .u-line-2 {
  position: absolute;
  top: 115px;
  left: 119px;
  height: 516px;
  transform-origin: center top;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Cinzel;
  margin: 65px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: Bellota;
  font-size: 1.5rem;
  margin: 60px calc(((100% - 1140px) / 2)  + 825px) 0 calc(((100% - 1140px) / 2)  + 228px);
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -818px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-1 .u-text-5 {
  font-family: Bellota;
  font-size: 1.375rem;
  margin: -52px calc(((100% - 1140px) / 2)  + 244px) 0 calc(((100% - 1140px) / 2)  + 493px);
}

.u-section-1 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -679px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-1 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: 64px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-1 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 48px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-1 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: 55px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-1 .u-icon-13 {
  width: 64px;
  height: 64px;
  --top-left-radius: 10px;
  --bottom-left-radius: 10px;
  margin: 52px auto 0 calc(((100% - 1140px) / 2)  + 378px);
  padding: 4px;
}

.u-section-1 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: 45px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-1 .u-line-3 {
  height: 2px;
  transform-origin: center top;
  width: calc(((100% - 1140px) / 2)  + -50px);
  margin: 92px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 0;
    width: 2px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 41px;
    margin-left: 723px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 827px;
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2)  + 725px);
    margin-left: calc(((100% - 940px) / 2)  + 128px);
  }

  .u-section-1 .u-icon-8 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2)  + 362px);
    margin-left: calc(((100% - 940px) / 2)  + 402px);
  }

  .u-section-1 .u-icon-9 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-11 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-12 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-icon-14 {
    margin-left: calc(((100% - 940px) / 2)  + 317px);
  }

  .u-section-1 .u-line-3 {
    width: calc(((100% - 940px) / 2)  + -50px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    left: 335px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 544px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2)  + 568px);
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-1 .u-icon-8 {
    margin-top: -1248px;
    margin-left: 239px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: 252px;
    margin-left: 292px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 0;
    margin-left: 239px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: 0;
    margin-left: 243px;
  }

  .u-section-1 .u-line-3 {
    width: calc(((100% - 720px) / 2)  + -50px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    left: 385px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 364px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 453px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-8 {
    margin-top: -818px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -221px;
    margin-right: 162px;
    margin-left: 202px;
    font-size: 1rem;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -125px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-10 {
    margin-top: 64px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-11 {
    margin-top: 48px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-12 {
    margin-top: -14px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-13 {
    margin-top: 52px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-icon-14 {
    margin-top: 45px;
    margin-left: calc(((100% - 540px) / 2)  + 182px);
  }

  .u-section-1 .u-line-3 {
    width: calc(((100% - 540px) / 2)  + -50px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 946px;
  }

  .u-section-1 .u-line-1 {
    left: 335px;
  }

  .u-section-1 .u-icon-1 {
    width: 38px;
    height: 38px;
    margin-top: 114px;
    margin-left: calc(((100% - 340px) / 2)  + 87px);
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    width: 38px;
    height: 38px;
    margin-top: 35px;
    margin-left: calc(((100% - 340px) / 2)  + 87px);
    padding: 0;
  }

  .u-section-1 .u-icon-3 {
    width: 38px;
    height: 38px;
    margin-top: 42px;
    margin-left: calc(((100% - 340px) / 2)  + 87px);
    padding: 0;
  }

  .u-section-1 .u-icon-4 {
    width: 38px;
    height: 38px;
    margin-top: 39px;
    margin-left: calc(((100% - 340px) / 2)  + 87px);
    padding: 0;
  }

  .u-section-1 .u-icon-5 {
    width: 38px;
    height: 38px;
    margin-top: 39px;
    margin-left: calc(((100% - 340px) / 2)  + 87px);
    padding: 0;
  }

  .u-section-1 .u-icon-6 {
    width: 37px;
    height: 37px;
    margin-top: 36px;
    margin-left: calc(((100% - 340px) / 2)  + 87px);
    padding: 1px;
  }

  .u-section-1 .u-icon-7 {
    width: 41px;
    height: 41px;
    margin-top: 35px;
    margin-left: calc(((100% - 340px) / 2)  + 84px);
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -572px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 54px;
    margin-right: calc(((100% - 340px) / 2)  + 29px);
    margin-left: calc(((100% - 340px) / 2)  + 135px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -89px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -512px;
    margin-right: calc(((100% - 340px) / 2)  + 236px);
    margin-left: calc(((100% - 340px) / 2)  + 18px);
  }

  .u-section-1 .u-icon-8 {
    margin-top: -102px;
    margin-left: 113px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: 62px;
    margin-left: 102px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-line-3 {
    width: calc(((100% - 340px) / 2)  + -50px);
    margin-top: 223px;
  }
}

.u-section-1 .u-icon-14:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-section-1 .u-icon-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-icon-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-1 .u-icon-11:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-11:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-11:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-icon-11:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-text-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-text-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-text-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-icon-5:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-line-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-section-1 .u-line-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-12:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-12:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-12:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-12:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-icon-12:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-icon-6:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-6:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-icon-6:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-7084-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7084-78:not([data-block-selected]):not([data-cell-selected]).u-block-7084-78:not([data-block-selected]):not([data-cell-selected]).u-block-7084-78:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #478ac9 !important;
}

.u-block-7084-78:not([data-block-selected]):not([data-cell-selected]).u-block-7084-78:not([data-block-selected]):not([data-cell-selected]).u-block-7084-78:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #478ac9 !important;
}

.u-container-layout:hover > .u-block-7084-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-block-7084-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-7084-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7084-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-7:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7084-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7084-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7084-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7084-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-7084-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7084-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-7084-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-block-7084-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-container-layout.hover > .u-section-1 .u-icon-4:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}